---
---

@import "modern-resume-theme";

/* Custom styles for profile image */
.profile-img {
  width: 200px !important;
  height: 200px !important;
  background-size: cover !important;
  background-position: 85% center !important;
  border-radius: 50% !important;
  display: block !important;
  margin: 0 auto !important;
}
